// Custom styles.
.post-body {
    a {
        color: #0366d6;
        text-decoration: none;
        border-bottom: none;
        
        &:hover {
            text-decoration: underline;
            outline-width: 0;
        }
    }
    .btn {
        border-bottom: 2px solid #555;
    }
}