// Custom styles.
.post-body {
    a {
        color: #0366d6;
        text-decoration: none;
        border-bottom: none;
        
        &:hover {
            text-decoration: underline;
            outline-width: 0;
        }
    }
    .btn {
        border-bottom: 2px solid #555;
    }
}
.container .main-inner {
    width: 1300px;
}
.content-wrap {
    float: right;
    box-sizing: border-box;
    padding: 0;
    width: calc(100% - 252px);
    background: transparent;
    min-height: 700px;
    border-radius: initial;
}
.header {
    width: 1300px;
}
.post {
    margin-bottom: 20px;
}
.post-block {
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}