// Custom styles.
.post-body {
    a {
        color: #0366d6;
        text-decoration: none;
        border-bottom: none;
        
        &:hover {
            text-decoration: underline;
            outline-width: 0;
        }
    }
}

.posts-expand .post {
    margin-top: 32px;
}
.post-block {
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.tag-cloud-tags {
    a {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,0.65) !important;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        list-style: none;
        -webkit-font-feature-settings: 'tnum';
        font-feature-settings: 'tnum';
        display: inline-block;
        height: auto;
        margin-right: 8px;
        padding: 0 7px;
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        background: #fafafa;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        opacity: 1;
        -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
        transition: all .3s cubic-bezier(.78, .14, .15, .86);
        &:hover {
            text-decoration: none;
        }
    }
}